In [5]:
import pandas as pd
import glob

data_sources = glob.glob("./*.csv")

sen_sources = [source for source in data_sources if "sen" in source]

ind_sources = [source for source in data_sources if "ind" in source]

sen = []
for sen_source in sen_sources:
    sen.append(pd.read_csv(f'{sen_source}'))

In [10]:
pd.concat(sen)

   Unnamed: 0  Total Jobs  Intern   Junior  Senior  Manager/Director
0           0       20142   169.0  16706.0  3064.0             203.0
0           0       15819   176.0  12081.0  1620.0            1942.0
0           0        1927     NaN    157.0   275.0             118.0
0           0        6820    52.0    534.0  5914.0             558.0
0           0       13181    20.0    171.0     NaN             725.0
0           0       16885     NaN      NaN     NaN               NaN

In [9]:
ind = []
for ind_source in ind_sources:
    ind.append(pd.read_csv(f'{ind_source}'))

pd.concat(ind).drop(columns = "Unnamed: 0")

                          Industry  No. of Jobs
0             Hành chính-Văn phòng        782.0
1             Nhân viên kinh doanh        615.0
2                        Bán hàng         455.0
3                           Tư vấn        437.0
4                Kế toán-Kiểm toán        436.0
..                             ...          ...
51                    Thuỷ Hải Sản         57.0
52                            Khác         56.0
53            Dầu khí / Khoáng sản         24.0
54   Phi chính phủ / Phi lợi nhuận          2.0
55                Người nước ngoài          2.0

[191 rows x 2 columns]