In [19]:
import requests
import pandas as pd
from datetime import date
from bs4 import BeautifulSoup
from pandas import DataFrame

def to_int(x):
    if type(x) is int:
        return x
    return int(x.replace(",","").replace(".",""))

In [20]:
url = "https://www.careerlink.vn/vieclam/list?keyword_use=A"
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html.parser')

total_jobs_r = soup.find("div", class_="col-md-7").get_text()

total_jobs = total_jobs_r.split()[2]
total_jobs = to_int(total_jobs)

In [21]:
url = "https://www.careerlink.vn/tim-viec-lam-nhanh"

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html.parser')
soup.prettify()

full_job_inds_dict = {}
full_ind = []

job_inds = soup.find('div', class_='masonry-container').find_all('li')

for ind in job_inds:
    job_ind = ind.find('a').get_text()
    full_ind.append(job_ind)
    job_ind_no = ind.find('span').get_text()
    job_ind_no = to_int(job_ind_no[1:-1])
    full_job_inds_dict[f'{job_ind}'] = job_ind_no

df1 = pd.DataFrame(full_job_inds_dict.items(), columns = ['Industry','No. of Jobs'])

careerlink_result_ind = df1

In [22]:
#cut last 5 rows of the dataframe and transpose them
#create new dataframe
#merge

url_list = ['https://www.careerlink.vn/vieclam/tim-kiem-viec-lam?keyword_use=A&career_levels=I',
            'https://www.careerlink.vn/vieclam/tim-kiem-viec-lam?keyword_use=A&career_levels=N',
            'https://www.careerlink.vn/vieclam/tim-kiem-viec-lam?keyword_use=A&career_levels=L',
            'https://www.careerlink.vn/vieclam/tim-kiem-viec-lam?keyword_use=A&career_levels=T',
            'https://www.careerlink.vn/vieclam/tim-kiem-viec-lam?keyword_use=A&career_levels=P',
            'https://www.careerlink.vn/vieclam/tim-kiem-viec-lam?keyword_use=A&career_levels=M',
            'https://www.careerlink.vn/vieclam/tim-kiem-viec-lam?keyword_use=A&career_levels=D',
            'https://www.careerlink.vn/vieclam/tim-kiem-viec-lam?keyword_use=A&career_levels=S',
            'https://www.careerlink.vn/vieclam/tim-kiem-viec-lam?keyword_use=A&career_levels=E'
           ]

senority_list = ['Intern', 'Mới đi làm', 'Nhân viên', 'Kỹ thuật viên', 'Trưởng nhóm', 'Quản lý', 'Giám đốc', 'Quản lí cấp cao', 'Điều hành cấp cao']
senority_no = []
senority_dict = {}

for url in url_list:
    
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    senority_no_r = soup.find("div", class_="col-md-7").get_text()
    senority_no.append(to_int(senority_no_r.split()[2]))
    
senority_dict = dict(zip(senority_list, senority_no))
senority_dict

{'Intern': 160,
 'Mới đi làm': 437,
 'Nhân viên': 15058,
 'Kỹ thuật viên': 869,
 'Trưởng nhóm': 1419,
 'Quản lý': 1567,
 'Giám đốc': 175,
 'Quản lí cấp cao': 13,
 'Điều hành cấp cao': 5}

In [23]:
Careerlink = {'Total Jobs': total_jobs,
              'Industry': full_ind}

Careerlink.update(senority_dict)

df = DataFrame(Careerlink, columns=['Total Jobs', 'Intern', 'Mới đi làm', 'Nhân viên', 'Kỹ thuật viên', 
                                    'Trưởng nhóm', 'Quản lý', 'Giám đốc', 'Quản lí cấp cao', 'Điều hành cấp cao', 
                                    'Industry'])

Careerlink_result = df.merge(df1, on='Industry')

In [24]:
sum_column_1 = Careerlink_result["Mới đi làm"] + Careerlink_result["Nhân viên"] + Careerlink_result["Kỹ thuật viên"]
sum_column_2 = Careerlink_result["Trưởng nhóm"] + Careerlink_result["Quản lý"]
sum_column_3 = Careerlink_result["Giám đốc"] + Careerlink_result["Quản lí cấp cao"] + Careerlink_result["Điều hành cấp cao"]

Careerlink_result["Junior"] = sum_column_1
Careerlink_result["Senior"] = sum_column_2
Careerlink_result['Manager/Director'] = sum_column_3

In [25]:
Careerlink_result = Careerlink_result.drop(['Mới đi làm','Nhân viên','Kỹ thuật viên','Trưởng nhóm','Quản lý',
                                            'Giám đốc','Quản lí cấp cao', 'Điều hành cấp cao',"Industry","No. of Jobs" ],axis=1)

Careerlink_result = Careerlink_result.reindex(columns=['Total Jobs','Intern','Junior','Senior',
                                                       'Manager/Director'])
careerlink_result_sen = Careerlink_result

In [26]:
careerlink_result_sen

    Total Jobs  Intern  Junior  Senior  Manager/Director
0        19703     160   16364    2986               193
1        19703     160   16364    2986               193
2        19703     160   16364    2986               193
3        19703     160   16364    2986               193
4        19703     160   16364    2986               193
5        19703     160   16364    2986               193
6        19703     160   16364    2986               193
7        19703     160   16364    2986               193
8        19703     160   16364    2986               193
9        19703     160   16364    2986               193
10       19703     160   16364    2986               193
11       19703     160   16364    2986               193
12       19703     160   16364    2986               193
13       19703     160   16364    2986               193
14       19703     160   16364    2986               193
15       19703     160   16364    2986               193
16       19703     160   16364    2986               193
17       19703     160   16364    2986               193
18       19703     160   16364    2986               193
19       19703     160   16364    2986               193
20       19703     160   16364    2986               193
21       19703     160   16364    2986               193
22       19703     160   16364    2986               193
23       19703     160   16364    2986               193
24       19703     160   16364    2986               193
25       19703     160   16364    2986               193
26       19703     160   16364    2986               193
27       19703     160   16364    2986               193
28       19703     160   16364    2986               193
29       19703     160   16364    2986               193
30       19703     160   16364    2986               193
31       19703     160   16364    2986               193
32       19703     160   16364    2986               193
33       19703     160   16364    2986               193
34       19703     160   16364    2986               193
35       19703     160   16364    2986               193
36       19703     160   16364    2986               193
37       19703     160   16364    2986               193
38       19703     160   16364    2986               193
39       19703     160   16364    2986               193
40       19703     160   16364    2986               193
41       19703     160   16364    2986               193
42       19703     160   16364    2986               193
43       19703     160   16364    2986               193
44       19703     160   16364    2986               193
45       19703     160   16364    2986               193
46       19703     160   16364    2986               193
47       19703     160   16364    2986               193
48       19703     160   16364    2986               193
49       19703     160   16364    2986               193
50       19703     160   16364    2986               193
51       19703     160   16364    2986               193
52       19703     160   16364    2986               193
53       19703     160   16364    2986               193
54       19703     160   16364    2986               193
55       19703     160   16364    2986               193

In [27]:
careerlink_result_ind

                               Industry  No. of Jobs
0     Biên phiên dịch / Thông dịch viên         1037
1          Biên phiên dịch (tiếng Nhật)          617
2                               Nhân sự          874
3                        Pháp lý / Luật          195
4                   Thư ký / Hành chánh         1888
5                      An Ninh / Bảo Vệ          128
6                       Bán lẻ / Bán sỉ         1203
7              Chăm sóc sức khỏe / Y tế          363
8                    Dịch vụ khách hàng         2591
9         Phi chính phủ / Phi lợi nhuận            2
10                             Bảo hiểm          601
11                  Kế toán / Kiểm toán         1983
12              Ngân hàng / Chứng khoán          498
13                   Tài chính / Đầu tư         1335
14                             Bán hàng         4446
15                        Hàng gia dụng           69
16   Quảng cáo / Khuyến mãi / Đối ngoại         1141
17                           Thời trang          223
18                             Tiếp thị         1546
19                               Tư vấn         2599
20         Quản lý chất lượng (QA / QC)          655
21    Vận chuyển / Giao thông / Kho bãi         1071
22                    Vật tư / Mua hàng          428
23        Xuất nhập khẩu / Ngoại thương          469
24              CNTT - Phần cứng / Mạng          615
25                      CNTT - Phần mềm         1267
26                              Du lịch          112
27                            Khách sạn          505
28           Nhà hàng / Dịch vụ ăn uống          572
29                   Bảo trì / Sửa chữa          751
30               Điện lạnh / Nhiệt lạnh          288
31                      Dược / Sinh học          406
32                       Điện / Điện tử         1320
33           Kỹ thuật ứng dụng / Cơ khí         1685
34         Môi trường / Xử lý chất thải          128
35                     An Toàn Lao Động          116
36                 Dầu khí / Khoáng sản           24
37                    Dệt may / Da giày          385
38                                Đồ Gỗ           90
39      Hóa chất / Sinh hóa / Thực phẩm          493
40             Nông nghiệp / Lâm nghiệp           66
41                                 Ô tô          163
42         Sản xuất / Vận hành sản xuất         1122
43                         Thuỷ Hải Sản           57
44                         Bất động sản          310
45                            Kiến trúc          282
46                Nội thất / Ngoại thất          265
47                             Xây dựng          749
48   Báo chí / Biên tập viên / Xuất bản          293
49     Nghệ thuật / Thiết kế / Giải trí          711
50                           Viễn Thông          246
51                   Lao động phổ thông          748
52            Mới tốt nghiệp / Thực tập         1241
53                     Người nước ngoài            1
54                    Quản lý điều hành          198
55                                 Khác           56

In [30]:
from datetime import date
careerlink_result_ind.to_csv(f'careerlink-ind-{date.today()}.csv')
careerlink_result_sen.to_csv(f'careerlink-sen-{date.today()}.csv')