In [12]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from pandas import DataFrame

def to_int(x):
    if type(x) is int:
        return x
    return int(x.replace(",",""))

In [13]:
#Total Jobs of Vietlam24h
url = "https://mywork.com.vn/tuyen-dung"
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html.parser')
soup.prettify()

total_jobs_r = soup.find("div", class_="item item_1").get_text()

total_jobs = total_jobs_r.split()[2]
total_jobs = to_int(total_jobs)
print(total_jobs)

6205

In [14]:
#Jobs by Senority
url_list = ('https://mywork.com.vn/tuyen-dung?ranks=1',
           'https://mywork.com.vn/tuyen-dung?ranks=2',
           'https://mywork.com.vn/tuyen-dung?ranks=3',
           'https://mywork.com.vn/tuyen-dung?ranks=4',
           'https://mywork.com.vn/tuyen-dung?ranks=5',
           'https://mywork.com.vn/tuyen-dung?ranks=6')

jobs_senority = ['Intern', 'Nhân Viên', 'Trưởng Nhóm', 'Trưởng Phòng', 'Phó Giám Đốc', 'Giám Đốc']
jobs_senority_no = []

for url_se in url_list:
    page = requests.get(url_se)
    
    soup = BeautifulSoup(page.text, 'html.parser')
    soup.prettify()

    total_jobs_senority_r = soup.find("div", class_="item item_1").get_text()

    total_jobs_senority = total_jobs_senority_r.split()[2]
    
    total_jobs_senority = to_int(total_jobs_senority)
    jobs_senority_no.append(total_jobs_senority)
    
jobs_senority_dict = dict(zip(jobs_senority, jobs_senority_no))
total_jobs = sum(jobs_senority_no)

print(total_jobs)

12914

In [15]:
Myworks = pd.DataFrame.from_dict(jobs_senority_dict, orient='index')
Myworks = Myworks.transpose()

Myworks.insert(0, 'Total Jobs', total_jobs)

Myworks

,Total Jobs,Intern,Nhân Viên,Trưởng Nhóm,Trưởng Phòng,Phó Giám Đốc,Giám Đốc
0,12914,6161,5793,535,312,60,53

In [18]:
sum_lead = Myworks['Trưởng Phòng'] + Myworks['Trưởng Nhóm']
sum_mana = Myworks['Phó Giám Đốc'] + Myworks['Giám Đốc']

Myworks["Senior"] = sum_lead
Myworks["Manager/Director"] = sum_mana

Myworks = Myworks.drop(['Giám Đốc', 'Trưởng Nhóm', 'Trưởng Phòng', 'Phó Giám Đốc'],axis=1)
Myworks = Myworks.rename(columns={'Nhân Viên': 'Junior'})
Myworks_results_sen = Myworks
Myworks_results_sen

   Total Jobs  Intern  Junior  Senior  Manager/Director
0       12914    6161    5793     847               113

In [ ]:
# Jobs by industries
# url = "https://mywork.com.vn/tuyen-dung"
# page = requests.get(url)

# soup = BeautifulSoup(page.text, 'html.parser')
# soup.prettify()


# industries_url = []
# full_ind_dict = {}
# full_ind = []
# industries_jobs_no = []

# print(soup)

# industries_url_raw = soup.find('div', class_='pd-15').find_all('a', href=True)
# print(industries_url_raw)

# industry_name_r = soup.find('div', class_='box_white mt_16 bold').find_all('span', class_='text_pink')[1].get_text()
# full_ind.append(industry_name_r)

# def unique(list1): 
#     # insert the list to the set 
#     list_set = set(list1) 
#     # convert the set to the list 
#     unique_list = (list(list_set)) 
#     return unique_list

# industries_url_raw=unique(industries_url_raw)

# for industry in industries_url_raw:
#     href = industry.get('href')
#     industries_url.append(href)

# for industry in industries_url:
#     page = requests.get(industry)

#     soup = BeautifulSoup(page.text, 'html.parser')

#     industry_no_r = soup.find('div', class_='box_white mt_16 bold').get_text()
#     industry_name_r = soup.find('div', class_='box_white mt_16 bold').find_all('span', class_='text_pink')[1].get_text()
#     full_ind.append(industry_name_r)
#     for s in industry_no_r.split(): 
#         if s.isdigit():
#             industries_jobs_no = int(s)

#     full_ind_dict[f'{industry_name_r}'] = to_int(industries_jobs_no)   
# result.append(full_ind_dict)

In [ ]:
from datetime import date
Myworks_results_sen.to_csv(f'mywork-sen-{date.today()}')